<html>
<head>
  <title>NightlyCraft</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@3.1.2/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
  <v-app>
    <v-app-bar :elevation="2" color="primary">
        <template v-slot:image>
          <v-img
            gradient="to top right, rgba(0,255,250,.25), rgba(175,0,255,.3)"
          ></v-img>
        </template>
        
        <v-app-bar-title>NightlyCraft</v-app-bar-title>
        <template v-slot:prepend>
          <v-app-bar-nav-icon @click="toggleNavigation"></v-app-bar-nav-icon>
        </template>
        <v-btn icon="mdi-dots-vertical" @click="optionsDialog = true"></v-btn>
        <v-dialog
          v-model="optionsDialog" max-width="290">
            <v-card title="Opciones">
                <v-list class="ma-2">
                    <v-list-item prepend-icon="mdi-share-variant" title="Compartir" value="share" active-color="primary" @click="shareUrl"></v-list-item>
                    <v-list-item prepend-icon="mdi-minecraft" title="Dirección IP" value="ip" active-color="primary" @click="copySnackbar"></v-list-item>
                    <v-list-item prepend-icon="mdi-flag" title="Reportar" value="report" active-color="primary"></v-list-item>
                </v-list>
            </v-card>
        </v-dialog>
    </v-app-bar>
      
    <v-navigation-drawer v-model="drawer" temporary>
        <v-list nav>
          <v-list-item prepend-icon="mdi-home" title="Inicio" value="home" active-color="primary"></v-list-item>
          <v-list-item prepend-icon="mdi-book" title="Blog" value="blog" active-color="primary"></v-list-item>
          <v-list-item prepend-icon="mdi-account-supervisor-circle" title="Personal" value="staff" active-color="primary"></v-list-item>
        </v-list>        
    </v-navigation-drawer>
            
    <v-main>
      <v-snackbar
      v-model="snackbar"
      :timeout="snackbarPropierties.timeout"
      >
      {{ snackbarPropierties.text }}

      <template v-slot:actions>
        <v-btn
          color="blue"
          variant="text"
          @click="snackbar = false"
        >
          {{ snackbarPropierties.closeText }}
        </v-btn>
      </template>
      </v-snackbar>
      <v-carousel show-arrows="hover" hide-delimiters>
          <v-carousel-item src="https://cdn.vuetifyjs.com/images/cards/docks.jpg" cover></v-carousel-item>
          <v-carousel-item src="https://cdn.vuetifyjs.com/images/cards/hotel.jpg" cover></v-carousel-item>
          <v-carousel-item src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg" cover></v-carousel-item>
      </v-carousel>
      <div>
        <v-alert
          closable
          class="ma-6"
          v-model="alert"
          border="start"
          variant="tonal"
          icon="$warning"
          close-label="Cerrar aviso"
          color="deep-purple-accent-4"
          title="En construcción"
        >
        El sitio aún esta en construcción, la información podría estar incompleta
        </v-alert>
      </div>
    </v-main>
  </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@3.2.45/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@3.1.2/dist/vuetify.min.js"></script>
  <script type="module" src="./main.js"></script>
    
</body>
</html>