body {
    overflow-y: scroll;
}

h1 {
    font-family: "Urbanist Black";
    color: #12374D;
}

h2 {
    font-family: "Urbanist Bold";
    color: #12374D;
}

h3 {
    font-family: "Urbanist Black";
    color: #12374D;
}

@font-face { 
    font-family: 'Urbanist Bold';
    src: url('../../assets/fonts/Urbanist-Bold.ttf'); 
}
@font-face { 
    font-family: 'Urbanist Black';
    src: url('../../assets/fonts/Urbanist-Black.ttf'); 
}
@font-face { 
    font-family: 'Urbanist SemiBold';
    src: url('../../assets/fonts/Urbanist-SemiBold.ttf'); 
}
@font-face { 
    font-family: 'Urbanist Medium';
    src: url('../../assets/fonts/Urbanist-Medium.ttf'); 
}
@font-face { 
    font-family: 'Urbanist Regular';
    src: url('../../assets/fonts/Urbanist-Regular.ttf'); 
}
@font-face { 
    font-family: 'Urbanist Light';
    src: url('../../assets/fonts/Urbanist-Light.ttf'); 
}
  
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}